.deps
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
classify
classify.service
compile
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
ltmain.sh
marshal.c
marshal.h
missing
*autom4te.cache
*cdbs*
*.la
*.o
*~
build-*
