*~
.deps
diff
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
*autom4te.cache
build-*
*cdbs*
classify
classify.service
compile
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
*.la
ltmain.sh
marshal.c
marshal.h
missing
*.o
test-uuid
