Source: classify
Section: user/utilities
Priority: extra
Maintainer: Sven Herzberg <herzi@gnome-de.org>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, docbook-xsl, gnome-common, libgtk2.0-dev, libhildon1-dev, libxml2-dev, uuid-dev, xsltproc
Standards-Version: 3.7.3

Package: classify
Architecture: any
Depends: hildon-application-manager, ${shlibs:Depends}, libclassify0 (= ${binary:Version})
Description: todo list application
 Classify is a simple todo list tool that allows users to manage their lists
 on multiple computers.

Package: libclassify0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: todo list application (library)
 Classify is a simple todo list tool that allows users to manage their lists
 on multiple computers.
 .
 This package contains the core application logic in a shared library.

#Package: libclassify0-dev
#Section: libdevel
