#!/usr/bin/make -f

## sed 's@\([[:alpha:]]*\) (\(.*\)-\(.*\)) \([[:alpha:]]*\); urgency=\(.*\)@\1 (\2-\3) \4; urgency=\5@'

# FIXME: create XB-Maemo-Upgrade-Description with content of NEWS or debian/changelog
debian/control:: debian/control.noicon debian/rules icons/26x26/hildon/classify.png
	cat debian/control.noicon > debian/control
	echo "XB-Maemo-Icon-26:" >> debian/control
	uuencode -m icons/26x26/hildon/classify.png /dev/stdout | \
		/bin/grep -v '^begin-base64 644 /dev/stdout$$' | \
		awk '{print " " $$1 }' >> debian/control

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_BUILDDIR := build-deb
DEB_CONFIGURE_EXTRA_FLAGS := --with-platform=maemo
DEB_INSTALL_CHANGELOGS_classify := --no-act
DEB_INSTALL_DOCS_ALL :=
DEB_INSTALL_DOCS_classify := -Xdebian/copyright
DEB_INSTALL_MANPAGES_classify := debian/classify.1

# Add here any variable or target overrides you need.
clean:: configure debian/control

configure: configure.ac debian/rules
	NOCONFIGURE=1 ./autogen.sh

install/classify:: debian/classify.1
	mkdir -p debian/classify/usr/share/doc
	ln -s /usr/share/doc/libclassify0 debian/classify/usr/share/doc/classify

install/libclassify0::
	dh_installdocs -plibclassify0 $(DEB_INSTALL_DOCS_libclassify0)

debian/classify.1: debian/classify.xml
	xsltproc --nonet -o $@ /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl $<

